.global {
    --element-color: #8A2BE2;
    --transition: all 0.5s cubic-bezier(1, 0.46, 0, 1.29);
    --dark-color: #1e1b24;
    --light-color: rgb(245, 245, 245);
}

.dark {
    --color: #F5F5F5;
    --background: #1e1b24;
    --background-element: #2d2836;
    --background-transparent: #2d2836cc;
    --shadow: rgba(25, 25, 25, 0.7);
    --svg-color: brightness(0) saturate(100%) invert(100%) sepia(55%) saturate(23%) hue-rotate(236deg) brightness(108%) contrast(92%);
}